@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --azulclaro: #48D6ED;
  --azuloscuro: rgb(51, 122, 183);
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}

/*Resolucion mobile first 320px*/
.logo{
    background-color: var(--negro2);
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo i{
    color: var(--blanco);
    font-size: 3rem;
}

.logo img{
    max-width: 200px;
    width: 40%;
}

nav{
    background-color: rgba(1, 10, 52, 0.838);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 1.5rem 0;
    position: absolute;
    z-index: 100;
    width: 100%;


}

.menu-hr{
    background-color: var(--blanco);
    width: 95%;
    height: 1px;
    margin: 1rem 0;
}

.item{
    
    padding: 1rem 0;

}

nav a{
    text-decoration: none;
    color: var(--blanco);
    font-family: 'Marcellus', serif;
    font-size: 1rem;
}

a:hover{
    background-color: #0B3860;
    width: 100%;
    text-align: center;
}

.btn-menu{
    color: var(--blanco);
    font-family: 'Marcellus', serif;
    font-size: 1rem;
    background-color: transparent;
    padding: 0.5rem;
    cursor: pointer;

}

#banner{
    display: flex;
    flex-direction: column-reverse;
    background-image: url(../img/slide1.jpg);
    height: 400px;
    background-size: cover;
    background-position: 55% 45%;
    position: relative;
    z-index: 0;
}
.text_banner{
    background-color: rgb(0, 0, 0, 0.3);
    color: var(--blanco);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 0.5rem 2rem
}

#description{
    padding: 1rem 1rem;
    margin: 1rem 1rem;
}

.logo-description{
    display: none;
}

#feature{
    background-image: url(../img/bg-features.png);
    background-size: cover;
    padding-top: 1rem;  
    padding-bottom: 2rem;
    background-position: 60% 40%;     
}

#feature h2{
    text-align: center;
    color: var(--blanco);
    font-size: 1rem;
    font-weight: 100;
    background-color: rgb(0,0,0, 0.2);
    text-shadow: 3px 3px 3px var(--negro2);  
 }
 
 .feature_row{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    align-items: center;
    margin-top: 1rem;
        
}

.feature-box{
    margin-top: 2rem;
    text-align: center;
    padding: 1rem 1rem;
    border-radius:0.2rem;
    color: var(--blanco);
    font-size: 1rem;
    max-width: 40%;
    
}

.feature-box h3{ 
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-top: 1.5rem;
}

.box1{
    background-color:#00325eae;

}

.box2{
    background-color: rgb(0,0,0, 0.3);
}

#ubicacion{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: center;
    margin-top: 30px;
    padding: 5px;

}

#ubicacion iframe{
    width: 100%;
    height: 270px;
    margin: 20px 2px;
}

.direccion_ubicacion{
    font-weight: 300;
    text-transform:uppercase;
    font-size: 0.5rem;
    padding: 5px;
    border-bottom: 2px solid var(--azuloscuro);    
}

#ubicacion h2{
    margin-top: 10px;
    font-size: 1rem;
}

#opiniones{
    background-image: url(../img/vector-comentarios.svg);
    background-repeat: repeat-x;
    background-position: 80% -70%;
    margin-top: 20px;
       

}

.titulo_opiniones{
    font-size: 1.3rem;
    color: var(--blanco);
    text-align:center;
    padding: 1rem;
}

.box-opciones{
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 0.7rem;  
    
    
}

.opciones-btn p{
    padding-top: 0.2rem;
    padding-left: 1rem;
    color: var(--blanco);

}

.nombre-opciones{
    display: flex;
    justify-content: baseline;
    flex-basis: 20% 80%;
    color: var(--blanco);
    align-items: center;
    text-align: center;
    padding: 1rem 3rem 0.5rem 1.5rem;
    background-image: url(../img/Vector-opinion.png);
    background-repeat: no-repeat;    
    background-size:100% 90% ;
    
}

.nombre{
    padding: 0.5rem;
    align-items: flex-end;
}

.opciones-btn img{
    display: flex;
    border-radius: 100%;
    
      
}

.opciones-btn{
    display: flex;
    flex-direction: column;
    background: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
    height: 170px;
    margin: 0.5rem;
    border-radius: 0.2rem;      
    
}

.text-opciones{
    
    text-align: justify;
    color: var(--blanco);
    font-size: 0.5rem;
}

.calificacion{
    color: var(--blanco);
}

.calificacion1{
    color: var(--Magenta);
}

#footer{
    background-color: var(--negro2);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--blanco);
    padding: 1rem;
}

.footer p{
    font-size: 1rem;
}

.text-footer{
    padding: 5px;
    font-family: 'Marcellus', serif;
    

}

.contac-footer{
    
    padding: 5px;
    margin-top: 5px;
    border-bottom: 1px solid var(--blanco);
    border-top: 1px solid var(--blanco) ;
    line-height:2rem;
}



.politicas-footer{
    
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--blanco);
    padding: 0.5rem;
    

}
.politicas-footer p{
    font-size: 0.7em;
}
.redes{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
/*punto quiebre media quiebre tableta 768px*/
@media screen and (min-width: 768px){


/*Resolucion desktop 1308px*/
@media screen and (min-width: 1328px){
    

header{
    display: flex;
    background-color: var(--azulnegro);
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    

}

.logo img{
    width: 150px;

}

nav a{
    font-family: 'Marcellus', serif;
    color: var(--blanco);
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0 1rem;
    
}

a:hover{ 
    color: var(--gris);
}

.btn-menu{
    background-color: var(--azuloscuro);
    color: var(--blanco);
    padding: 0.5rem 1rem;
    font-family: 'Marcellus', serif;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

#banner{
    display: flex;
    flex-direction: column-reverse;
    background-image: url(../img/slide1.jpg);
    height: 500px;
    background-position: 20% 80%;
    background-size: cover;
}

.text_banner{
    background-color: rgb(0, 0, 0, 0.3);
    color: var(--blanco);
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    padding: 0.5rem 2rem
}

#description{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.text-description{
    font-size: 30px;
    text-align: left;
    flex-basis: 70%;
    padding: 5rem;
    
    
}

.logo-description{
    flex-basis: 30%;
    padding: 5rem;
    max-width: 100%;
}

#reservas{
    background-color: var(--Magenta);
    font-family: 'Marcellus', serif;
    font-size: 3rem;
       

    color: var(--blanco);

}

#feature{
    background-image: url(../img/bg-features.png);
    background-size: cover;
    padding-top: 1rem;  
    padding-bottom: 2rem;
    background-position: 30% 70%;
       


}

#feature h2{
   text-align: center;
   color: var(--blanco);
   font-size: 2rem;
   font-weight: 100;
   background-color: rgb(0,0,0, 0.2);
   text-shadow: 3px 3px 3px var(--negro2);

   
}

.feature_row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
        
}

.feature-box{
    margin-top: 2rem;
    text-align: center;
    padding: 1rem 2rem;
    border-radius:0.2rem;
    color: var(--blanco);
    font-size: 3rem;
    
}

.feature-box h3{ 
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-top: 1.5rem;
    


}

.box1{
    background-color:#00325eae;

}

.box2{
    background-color: rgb(0,0,0, 0.2);
}

#ubicacion{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;

}

#ubicacion iframe{
    width: 95%;
    height: 300px;
    margin: 20px 15px;
}

.direccion_ubicacion{
    font-weight: 300;
    text-transform:uppercase;
    font-size: 2rem;
    border-bottom: 3px solid var(--azuloscuro);
    padding: 10px;
    margin-left: 300px;
    margin-right: 300px;
    
}

#ubicacion h2{
    margin-top: 30px;
    font-size: 2rem;
}

#opiniones{
    background-image: url(../img/vector-comentarios.svg);
    background-repeat: repeat-x;
    background-size: 80% 70%;
    height: 50%;
       

}

.titulo_opiniones{
    
    font-size: 2rem;
    color: var(--blanco);
    text-align:center;
    padding-top: 5rem;
}

.box-opciones{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem 0.7rem; 
    
    
    
}

.opciones-btn p{
    padding: 1rem;
    color: var(--blanco);
}

.nombre-opciones{
    display: flex;
    justify-content: baseline;
    flex-basis: 20% 80%;
    color: var(--blanco);
    align-items: center;
    text-align: center;
    padding: 1rem 3rem 1rem 1.5rem;
    background-image: url(../img/Vector-opinion.png);
    background-repeat: no-repeat;    
    background-size:100% 90% ;
    
}

.nombre{
    padding: 1rem;
    align-items: flex-end;
}

.opciones-btn img{
    display: flex;
    border-radius: 100%;
    
      
}

.opciones-btn{
    background: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
    margin: 0.5rem;
    border-radius: 0.2rem;
    flex-basis: 31%;

        
    
}

.text-opciones{
    
    text-align: justify;
    color: var(--blanco);
    font-size: 0.5rem;
}

.calificacion{
    color: var(--blanco);
}

.calificacion1{
    color: var(--Magenta);
}



#footer{
    background-color: var(--negro2);
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    color: var(--blanco);
    padding: 1.5rem;
}

.text-footer{
    padding-top: 10px;
    font-family: 'Marcellus', serif;

}

.contac-footer{
    line-height:3rem;
}

.politicas-footer{
    line-height: 3rem;

}
}
